---
# This task upgrade the gateway database version.

- name: Check if Gateway Database Schema needs update
  no_log: true # don't log decrypted passwords in responses
  shell:
    cmd: sshpass -p '{{ ansible_password }}' ssh ssgconfig@{{ inventory_hostname }} 'sudo -u layer7 /opt/SecureSpan/Appliance/libexec/ssgconfig_launch -databaseUgrade' 
  register: update
  changed_when: false
  delegate_to: localhost

- name: upgrading Gateway Database Schema after import database
  no_log: true # don't log decrypted passwords in responses
  when:  '"Database upgrade is required" in update.stdout'
  expect:
    command: >
      sshpass -p '{{ ansible_password }}' ssh ssgconfig@{{ inventory_hostname }}
      'sudo -u layer7 /opt/SecureSpan/Appliance/libexec/ssgconfig_launch -databaseUgrade'
    responses:
      "Perform upgrade?": "y"
      "Enter Administrative Database Username": "{{ database_admin_user }}"
      "Enter Administrative Database Password:": "{{ database_admin_pass }}"
  register: status
  changed_when: "'The database was successfully upgraded' in status.stdout"
  failed_when: "'The database was successfully upgraded' not in status.stdout"
  delegate_to: localhost
